.z-progress,.z-progress *{
    box-sizing:border-box;
}
.z-progress{
    width: 100%;
    font-size: 0;
}
.z-progress:after{
    content: '';
    clear: both;
    display: table;
}
.z-progress .bar{
    height: 20px;
    border-width: 1px 0;
    border-color: #ddd;
    border-style: solid;
    font-size: 12px;
    float: left;
    background-color: #f5f5f5;
    position: relative;
}
.z-progress .cursor{
    height:18px;
    background-color: #0196E2;
    width: 0;
    color:#fff;
    text-align: center;
    line-height: 18px;
}
.z-progress .point{
    border-radius:15px;
    border:1px solid #ddd;
    background-color: #fff;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    color:#ddd;
    height: 30px;
    width: 30px;
    position: absolute;
    right:-15px;
    top:-5px;
    line-height: 30px;
    text-align: center;
    z-index:14;
}
.z-progress .active{
    background-color: #0196E2;
    border: 1px solid #fff;
    color:#fff;
}